<a  href="/user?userId=<%= entry.userId %>">
    <div  class="videothumbnail" kfps="10" kslices="15" kwidth="302" kpid="<%= partnerId %>" kentryid="<%= entry.id%>" kquality="75" kcrop="2"></div>
</a>
