<a href="https://github.com/kaltura-vpaas/example-tikrok"
style="position: absolute;top: 0; left: 0; border: 0; z-index: 1000">
    <img loading="lazy" width="149" height="149" 
    src="https://github.blog/wp-content/uploads/2008/12/forkme_left_red_aa0000.png?resize=149%2C149" 
    alt="Fork me on GitHub" 
    data-recalc-dims="1">
</a>

<div style="text-align: right;margin-right: 10px;">
<a href="record"><img src="./images/rec.png"/></a>
<a href="gallery"><img src="./images/gallery.png"/></a> 
</div>

