<% include partials/header %>

<style type="text/css">
    .videothumbnail {
        width: 200px;
        height: 150px;
        margin-right: 2px;
        margin-bottom: 2px;
        float: left;
    }
</style>
<script src="./KalturaThumbAnimator.js"></script>
</head>

<body>
    <% include partials/github-badge %>
    <% include partials/menu %>
    <div id="thumbnails">
        <%- include('gallery/entries.ejs', {entries: entries}) %>
    </div>
    <script>
        var thumbAnimator = new KalturaThumbAnimator();
        thumbAnimator.setup("videothumbnail", "https://cfvod.kaltura.com", 0, true); //use blurred deffered loading
    //thumbAnimator.setup("videothumbnail"); //regular load
    </script>
    <script>
        setTimeout(function () {
            location.reload();
        }, 1E4);
    </script>

    <% include partials/footer %>