<% include partials/header %>
<script>
    function handleSubmit() {
        $('#submitBtn').val('Please wait').prop("disabled", true);
    }
</script>


<style type="text/css">
    .videothumbnail {
        width: 200px;
        height: 150px;
        margin-right: 2px;
        margin-bottom: 2px;
        float: left;
    }
</style>
<script src="./KalturaThumbAnimator.js"></script>
</head>

<body style="overflow: visible;">
    <% include partials/menu %>
        <form style="margin-top: 150px;margin-left: 150px;" onsubmit="handleSubmit()" method="search">
            <input name="userId" autofocus id="login-name" style="font-size: 35px;" type="text" class="form-input"
                placeholder="search" required>
    
            <input id="submitBtn" style="font-size: 35px;" type="submit" value="search">
    
        </form>

    <div id="thumbnails" style="margin: 151px; display: flex; ">
        <%- include('gallery/entries.ejs', {entries: entries}) %>
    </div>
    <script>
        var thumbAnimator = new KalturaThumbAnimator();
        thumbAnimator.setup("videothumbnail", "https://cfvod.kaltura.com", 0, true); //use blurred deffered loading
    //thumbAnimator.setup("videothumbnail"); //regular load
    </script>
    <script>
        setTimeout(function () {
            location.reload();
        }, 150000);
    </script>

    <% include partials/footer %>