<% include partials/header %>
<script>
    function handleSubmit() {
        $('#submitBtn').val('Please wait').prop("disabled", true);
    }
</script>
</head>
<body style="display: flex;">

<form onsubmit="handleSubmit()" method="post" >
        <input name="userId" autofocus id="login-name" 
        style="font-size: 60px;"
        type="text" class="form-input" 
        placeholder="Screename..."  required>
      
        <input id="submitBtn" 
            style="font-size: 36px;"
        type="submit" value="Go">

</form>

<% include partials/footer %>